
.body{background-color: #000;}
.card {
    position: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #000;
    background-clip: border-box;
    border: 1px solid #17a2b8;
    text-decoration: white;
    justify-content: center;
    border-radius: 16px;
    z-index: 1;
}

.media-content img {
    margin-right: -5%;
}

.h1, h1 {
    color: #F23580;
}
.lead {
font-size: 1.25rem;
font-weight: 300;
color: aliceblue;} 

.col {
    border: 1px solid black;
}