body {
    background-color: #000;
}


.jumbotron-content {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


h1 {
    color: #F23580;
}
h2,  {
    color: #F23580;
}

.over-view-body {
    color: #F23580;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: aliceblue;
}

.col {
    border: 1px solid black;
}

.card {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: 0%;
margin-top: -6%;
/* border-radius: .25rem; */} 

